.main {
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #555;
}

.areaResposta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 2rem;
}

.slot {
  width: 90px;
  height: 90px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.livrosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 2rem;
}

.livroDetalhado {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  border: 1px solid #999;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
}

.capVers, .capVersPequeno {
  font-size: 10px;
  color: #333;
}

.capVersPequeno {
  font-size: 9px;
}

.sigla {
  font-size: 16px;
  font-weight: bold;
}

.nomePequeno {
  font-size: 10px;
  color: #222;
  text-align: center;
}

.subtitulo {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.legenda {
  margin-top: 20px;
  text-align: center;
}

.linhasLegenda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.linhasLegenda span {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
}

.botaoCustom {
  background-color: #4caf50; /* verde */
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botaoCustom:hover {
  background-color: #45a049; /* verde escuro no hover */
}

.botaoCustom:active {
  background-color: #397d3a; /* mais escuro quando clica */
}

.botoes {
  display: flex;
  gap: 1rem; /* ou 10px, 16px, etc. */
  justify-content: center; /* opcional: centraliza os botões */
  margin-top: 1rem; /* espaço do conteúdo de cima */
}
